<!DOCTYPE html>
<html>
<head>
  <% provide(:title, 'Course App') %>
</head>
<body>
  <div class="main-logo">
    <h1>Welcome to Your Course App </h1>
    <p> This is the homepage of the RAD Assignment 2 </p>
    <span class="glyphicon glyphicon-cog"></span>
    <%= link_to "Sign up now", signup_path, class: "btn btn-md btn-danger" %>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>View Course as Guest User</h3>
        <p>Browse and view courses as a guest and sign up later</p>
        <span class="glyphicon glyphicon-list-alt"></span> <%= link_to 'Browse all courses', courses_path , class: "btn btn-sm btn-success" %>
      </div>
      <div class="col-md-6">
        <h3>Sign in to your account</h3>
        <p>Update your courses, rate courses, view cordinator information</p>
        <span class="glyphicon glyphicon-user"></span>
        <%= link_to "Sign in", login_path, class: "btn btn-sm btn-success" %>
      </div>
    </div>
  </div>
</body>
</html>
