
<% provide(:title, 'Edit Profile') %>
<% provide(:button_text, 'Save') %>
<h1>Update your profile</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
    <div class="gravatar_edit">
      <%= gravatar_for @coordinator %>
      <a href="http://gravatar.com/emails" target="_blank">Change</a>
    </div>
  </div>
</div>
<button style="font-size: 20px"><%= link_to 'Return', coordinators_path %></button>
