<% provide(:title, 'Coordinators') %>
<div class="container">
  <p id="notice"><%= notice %></p>
  <h1>Coordinators</h1>

  <% @coordinators.each do |coordinator| %>
  <div class="container">
    <%= gravatar_for coordinator %>
    <p><%= coordinator.name %></p>
    <div>
      <% if current_coordinator == coordinator && !current_coordinator.admin?%>
      <button><%= link_to 'Show Courses', coordinator %></button>  |
      <button><%= link_to 'Edit Coordinator', edit_coordinator_path(coordinator) %></button>
      <!-- <%= link_to 'Delete Coordinator', coordinator, method: :delete, data: { confirm: 'Are you sure?' } %> -->
      <% else %>
      <button><%= link_to 'Show Courses', coordinator %></button>
      <% end %>

      <% if current_coordinator.admin? && !current_coordinator?(@coordinator) %>
      <!-- <%= link_to 'Show Courses', coordinator %>  --> |
      <button><%= link_to 'Edit Coordinator', edit_coordinator_path(coordinator) %></button> |
      <button><%= link_to 'Delete Coordinator', coordinator, method: :delete, data: { confirm: 'Are you sure?' } %></button>
      <% end %>
    </div>

  </div><br>
  <% end %>
</div>
