<!-- <h1>New Coordinator</h1>

<%= render 'form', coordinator: @coordinator %>

<%= link_to 'Back', main_home_url %> -->
<div class="container">
  <% provide(:title, 'Coordinator Register') %>
  <% provide(:button_text, 'Register') %>
  <h1>Coordinator Register</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
    </div>
  </div>
</div>
