<% provide(:title, @coordinator.name) %>
<div class="container">

  <div class="row">
    <div class="col-md-4">

      <p id="notice"><%= notice %></p>
      <p>
        <h3>Coordinator:</h3>
        <h4><%= @coordinator.name %></h4>
      </p>
      <p>
        <%= gravatar_for @coordinator %>
      </p>

    </div>
    <div class="col-md-8">
      <% if @coordinator.courses.any? %>
      <h3>Courses (<%= @coordinator.courses.count %>)</h3>
      <ol class="courses">
        <%= render @coordinator.courses %>
      </ol>
      <% end %>
    </div>
  </div><br><br>

  <% if current_coordinator == @coordinator %>
  <button><%= link_to 'Add New Course', new_course_path %></button> |
  <% end %>
  <button><%= link_to 'View Coordinators', coordinators_path %></button> |
  <button><%= link_to 'View Categories', categories_path %></button> |
  <button><%= link_to 'View Locations', locations_path %></button>
</div>
