<% if @contact.errors.any? %>
  <div id="error_explanation">
    <!-- <div class="alert alert-danger">
      The form contains <%= pluralize(@contact.errors.count, "error") %>.
    </div> -->
    <ul>
      <p> Please correct the following errors: </p>
    <% @contact.errors.full_messages.each do |msg| %>

      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
