<% if @coordinator.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@coordinator.errors.count, "error") %>.
    </div>
    <ul>
      <p> Please correct the following errors: </p>
    <% @coordinator.errors.full_messages.each do |msg| %>

      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
