
<%= form_for @contact do |f| %>
<%= render 'shared/error_contacts', object: @contact %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %><br>
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %><br>
    <%= f.label :phone %>
    <%= f.text_field :phone, class: 'form-control' %><br>
    <%= f.label :Message %>
    <%= f.text_area :content, size: "10x5", class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit "submit" %>
  </div>
<% end %>


<!-- <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:error] %>
      <div class="error"><%= flash[:error] %></div>
    <% end %> -->
