<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>
  <h3> Hi <%= @contact.name %></h3>
  <body>
    <%= @contact.content %>
    <%= yield %>
  </body>
</html>
