<% provide(:title, 'Course') %>


<h3> <%= course.name %></h3>
<p><strong>Prerequisite:</strong> <%= course.prerequisite %></p>
<p><strong>Created:</strong> <%= time_ago_in_words(course.created_at) %> ago</p>
<!-- <p id="pic"><strong>Image:</strong>
  <%= image_tag(course.image.url) %>
</p><br> -->
<strong> Votes:</strong>
<i class="glyphicon glyphicon-thumbs-down"><%= course.votes.downvote.count %></i>&nbsp;
<i class="glyphicon glyphicon-thumbs-up" ><%= course.votes.upvote.count%></i>
<br>

<% if current_coordinator == @coordinator && !current_coordinator.admin?%>
<button><%= link_to 'Edit Course', edit_course_path(course) %></button>
<% end %>

  <% if current_coordinator.admin?  %>
  <button><%=link_to 'Reset Votes', course_vote_path(course), method: :delete, data: { confirm: 'Are you sure?' } %></button> |
  <button><%= link_to 'Edit Course', edit_course_path(course) %></button> |
  <button><%= link_to 'Delete Course', course, method: :delete, data: { confirm: 'Are you sure?' } %></button>
  <% end %>
<br>
