<div class="container">
  <%= form_for @course do |f| %>
  <%= render 'shared/error_courses', object: @course %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name,class: 'form-control' %><br>
      <%= f.label :prerequisite %>
      <%= f.text_field :prerequisite,class: 'form-control' %><br>
      <%= f.label :description %>
      <%= f.text_area :description, size: '20x5',class: 'form-control' %><br>

      <%= f.label :category %>:
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :category  %><br>
      <!-- <% Category.all.each do |cat| %>
      <%= check_box_tag "course[category_ids][]", cat.id %>
      <%= cat.category %>
      <% end %> -->
      <br>
      <%= f.label :location %>:
      <%= f.collection_check_boxes :location_ids, Location.all, :id, :location  %><br>

      <!-- <%= f.label :image %> --><br>
      <%= f.file_field :image %>
      
      <div class="btn-sub">
        <%= f.submit yield(:button_text), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
