<h1>Editing Course</h1>
<% provide(:title, 'Edit Course') %>
<% provide(:button_text, 'Save') %>
<%= render 'form' %>

<!-- <%= link_to 'Show', @course %> | --> <br>
<button ><%= link_to 'Return', current_coordinator %></button>
