<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<% provide(:title, 'All Courses') %>
<div class="container">
  <h2 style="text-align:center;">All Courses</h2>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Courses</a></li>
    <li><a data-toggle="tab" href="#menu2">Coordinators</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>Courses </h3>
      <p>List of all courses </p>

      <div class="container">
        <div class="row">
          <aside class="col-md-2">
            <% @courses.each do |course| %>
            <section class="logo">
              <%= gravatar_for course.coordinator %>
               Coordinator Name: <%= course.coordinator.name %>
            </section><br>
            <% end %>

          </aside>
          <div class="col-md-10">
            <% @courses.each do |course| %>
            <section class="course">
              <h3> <%= course.name %></h3>
              <p><strong>Prerequisite:</strong> <%= course.prerequisite %></p>
              <p><strong> Description:</strong> <%= course.description %></p>
              <p><strong> Category:</strong><%course.categories.each do |c| %>
              <%= link_to c.category, category_path(c) %>&nbsp;&nbsp;
              <% end %> </p>


              <p><strong> Location:</strong> <% course.locations.each do |c| %>
              <%= link_to c.location, location_path(c) %>&nbsp;&nbsp;
              <% end %> </p>

              <p><strong>Created:</strong> <%= time_ago_in_words(course.created_at) %> ago</p>
              <div class="votes">
                <i class="glyphicon glyphicon-thumbs-up"> <%=course.votes.upvote.count%></i>
                <i class="glyphicon glyphicon-thumbs-down"> <%= course.votes.downvote.count %></i>
              </div>
            </section><br>
            <% end %>
          </div><br>
        </div>
      </div>
    </div>
      <div id="menu2" class="tab-pane fade">
        <h3>Coordinator </h3>
        <p>List of all Coordinators </p>

        <div class="container">

          <% @courses.select(:coordinator_id).distinct.each do |course| %>
          <%= gravatar_for course.coordinator %>
          <p><%= course.coordinator.name %></p>
          <!-- <p><%= course.coordinator.name.present? ? course.coordinator.name : @coordinator.name %></p> -->

          <% end %>

        </div>
        <br>
      </div>
  </div>
</div>
