<h1>Create a new course</h1>
<% provide(:title, 'Create Course') %>
<% provide(:button_text, 'Create a course') %>
<%= render 'form' %>

<p style="font-size: 30px"><%= link_to 'Back', current_coordinator %></p>
