<% provide(:title, @course.name) %>
<h3>Course Voted for <%=@course.name %> </h3>

<p> Name : <%= @course.name %> </p>
<p> Prerequisite : <%= @course.prerequisite %></p>
<p> Description : <%= @course.description %></p>
<p> Category : <%= @course.categories.map(&:category).join(' , ') %></p>
<p> Location : <%= @course.locations.map(&:location).join(' , ') %></p>
<p> Created : <%= time_ago_in_words(@course.created_at) %> ago</p>

<br>
<button><%= link_to 'Return to Course List', courses_path %></button>
<!-- <% if current_coordinator %>
  <%= link_to "Liked", course_votes_path(@course), method: :post, remote: true %>
  <% else %>
  <%= link_to "Like", course_votes_path(@course), method: :post, remote: true %>
  <% end %> -->

<!-- # <%= link_to 'Edit', edit_course_path(@course) %> | -->
