// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.btn-sub{
  margin-left: -300px;
}

#pic {
max-width: 150px;
max-height: 100px;
}

#pic img{
  height: 100%;
  width: 100%;
  margin:0 auto;
}
