// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notice {
  font-style: italic;
  color: green;
  font-size: 25px;
}

.error{
  font-style: italic;
  color: red;
  font-size: 25px;
}

.field{
  width: 50%;
  height: 50%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 480px;
}

input[type=submit]:hover {
  background-color: #45a049;
}
