// Place all the styles related to the Coordinators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

// .container img{
//   max-width: 50%;
//   max-height: 30%;
// }
//
// img {
//   max-width: 50%;
//   max-height: 30%;
// }

.cood {
  max-width: 50%;
  max-height: 30%;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
