// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.votes{
  margin-left: 850px;
}

.btn-sub{
  margin-left: -100px;
}

.course {
  max-width: 100%;
  max-height: 50%;
  padding: 5px;
  padding-top: -30px;
  border: 1px solid #73AD21;
  background-color: lightgrey;
  box-sizing: border-box;

}

.logo {
  // height: 200px;
  // width: 200px;
  padding: 40px;
  box-sizing: border-box;
  //position:static;
}

#pic {
max-width: 150px;
max-height: 100px;
}

#pic img{
  height: 100%;
  width: 100%;
  margin:0 auto;
}

.gravatar_edit {
  margin-top: 15px;
}
