// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

// .header  {
//   list-style-type: none;
//   margin: 10px;
//   padding: 10px;
//   overflow: hidden;
//   background-color: #333;
// }

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position:fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.footer-top .container {
  //border-bottom: 1px solid #E0E0DA;
  //padding-bottom: 20px;
}
// .footer-top .col-sm-3{
//   overflow: hidden;
// }
// .footer-widget {
//   margin-bottom: 68px;
// }


.footer-widget .container {
  border-top: 1px solid #FFFFFF;
  padding-top: 15px;
}
.footer-bottom {
  background: #D6D6D0;
  padding-top: 10px;
  margin: 10px;
  padding: 10px;
  margin-top: 80px;
}

.footer-bottom ul {
  color: #363432;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  list-style-type: none;
  //margin-left: 0px;
}
.footer-bottom p{
  font-size: 20px;
  font-family: 'Times New Roman', sans-serif;
}
.footer-bottom li a {
  color: #FE980F;
}

.main-logo{
  margin: 10px;
  padding: 50px;
  text-align: center;
  background: #D6D6D0;
}

.pull-left{
  margin-right: 100px;
}

.pull-left .link .fa{
  visibility: hidden;
}

.pull-left .link:hover .fa{
  visibility:visible;
}
