<div class="container">
  <%= form_for @category do |f| %>
    <div class="field">
      <%= f.label :category %>
      <%= f.text_field :category %><br>
      <div class="btn-sub">
      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
