<% provide(:title, 'All Categories') %>
<% if current_coordinator  %>
<div class="container">

<% @categories.each do |category| %>
<ul><li>
<h3><%= category.category %></h3>

<button><%=link_to 'Edit Category', edit_category_path(category) %></button>
<button><%= link_to 'Delete Category', category, method: :delete, data: { confirm: 'Are you sure?' } %></button></li></ul>
<% end %>
</div><br><br>
<button><%= link_to 'Return', coordinator_path(current_coordinator) %></button>
<% else %>
  <h1 style="color:red;"> Sorry not Allowed </h1>
  <h3> You are not allowed here!! Please go back </h3>
<% end %>
