<% if current_coordinator  %>
<h1>New Category</h1>
<% provide(:title, 'Create Category') %>
<% provide(:button_text, 'Create new category') %>
<%= render 'form' %>
<% else %>
<h1 style="color:red;"> Sorry not Allowed </h1>
<h3 style="color:red;"> You are not allowed here!! Please go back </h3>
<% end %>
