<% provide(:title, @category.category) %>
<h3 style="text-align:center">Courses in: <%= @category.category %></h3><br>

<div class="container">
  <div class="row">
    <aside class="col-md-2">
      <% @category.courses.each do |course| %>
      <section class="logo">
        <%= image_tag(course.image.url)%>
      </section><br><br><br><br>
      <% end %>

    </aside>
    <div class="col-md-10">
      <% @category.courses.each do |cat| %>
      <section class="course">
        <p><strong>Name:</strong> <%= cat.name %></p>
        <p> <strong>Prerequisite:</strong> <%= cat.prerequisite %></p>
        <p><strong> Category:</strong> <%= @category.category %></p>
        <p><strong> Location:</strong> <% cat.locations.each do |c| %>
          <%= link_to c.location, location_path(c) %>&nbsp;&nbsp;
          <% end %> </p>

          <p><strong> Created:</strong> <%= time_ago_in_words(@category.created_at) %> ago</p>
          <i class="glyphicon glyphicon-thumbs-down" style="float:right"><%= cat.votes.downvote.count %></i>&nbsp;
          <i class="glyphicon glyphicon-thumbs-up" style="float:right"><%=cat.votes.upvote.count%></i>


          <% if current_coordinator %>
          <%= link_to raw('<span class="glyphicon glyphicon-thumbs-up"></span> like'), upvote_path(cat.id), method: :post %> &nbsp;
          <%= link_to raw('<span class="glyphicon glyphicon-thumbs-down"></span> disike'), downvote_path(cat.id), method: :post %>
          <br>

          <% if cat.coordinator_id == current_coordinator.id && !current_coordinator.admin?%>
          <button><%= link_to 'Edit Course', edit_course_path(cat) %></button>
          <% end %>

          <% if current_coordinator.admin?  %>
          <button><%=link_to 'Reset Votes', course_vote_path(cat), method: :delete, data: { confirm: 'Are you sure?' } %></button> |
          <button><%= link_to 'Edit Course', edit_course_path(cat) %></button> |
          <button><%= link_to 'Delete Course', cat, method: :delete, data: { confirm: 'Are you sure?' } %></button>
          <% end %>
          <% end %>

        </section><br>
        <% end %><br>

      </div><br>
    </div>
    <button ><%= link_to 'Return to Course List', courses_path %></button>
  </div>
