<% if current_coordinator  %>
<h1>Editing Location</h1>
<% provide(:title, 'Edit Location') %>
<% provide(:button_text, 'Save') %>
<%= render 'form' %>
<button><%= link_to 'Return', locations_path %></button>
<% else %>
  <h1 style="color:red;"> Sorry not Allowed </h1>
  <h3 style="color:red;"> You are not allowed here!! Please go back </h3>
<% end %>
