<% provide(:title, 'All Locations') %>
<% if current_coordinator  %>
<div class="container">

<h3> Click on a Location to edit info </h3>
<% @locations.each do |location| %>
<ul><li>
<h3><%= location.location %></h3>
<button><%=link_to 'Edit Location', edit_location_path(location) %></button>
<button><%= link_to 'Delete Location', location, method: :delete, data: { confirm: 'Are you sure?' } %></button></li></ul>
<% end %>


</div>
<button><%= link_to 'Return', coordinator_path(current_coordinator) %></button>
<% else %>
  <h1 style="color:red;"> Sorry not Allowed </h1>
  <h3> You are not allowed here!! Please go back </h3>
<% end %>
