<% if current_coordinator  %>
<h1>New Location</h1>
<% provide(:title, 'Create Location') %>
<% provide(:button_text, 'Create new location') %>
<%= render 'form' %>
<% else %>
<h1 style="color:red;"> Sorry not Allowed </h1>
<h3 style="color:red;"> You are not allowed here!! Please go back </h3>
<% end %>
