<% provide(:title, @location.location) %>
<h3 style="text-align:center">Courses scheduled in location: <%= @location.location %></h3><br>
<div class="container">
  <div class="container">
    <div class="row">
      <aside class="col-md-2">
        <% @location.courses.each do |course| %>
        <section class="logo">
          <%= image_tag(course.image.url)%>
        </section><br><br><br><br>
        <% end %>

      </aside>
      <div class="col-md-10">
        <% @location.courses.each do |loco| %>
        <div class="course">
          <p><strong> Name:</strong> <%= loco.name %></p>
          <p><strong> Prerequisite:</strong> <%= loco.prerequisite %></p>
          <p><strong> Category:</strong> <% loco.categories.each do |c| %>
            <%= link_to c.category , category_path(c) %>&nbsp;&nbsp;
            <% end %> </p>
            <!-- <p>Category: <%= link_to loco.categories.map(&:category).join, category_path %></p> -->
            <p><strong>Location:</strong> <%= @location.location %></p>
            <p><strong> Created:</strong> <%= time_ago_in_words(@location.created_at) %> ago</p>
            <i class="glyphicon glyphicon-thumbs-down" style="float:right"><%=loco.votes.downvote.count%></i>
            &nbsp;
            <i class="glyphicon glyphicon-thumbs-up" style="float:right"><%=loco.votes.upvote.count%></i>

            <% if current_coordinator  %>
            <%= link_to raw('<span class="glyphicon glyphicon-thumbs-up"></span> like'), upvote_path(loco.id), method: :post %> &nbsp;&nbsp;
            <%= link_to raw('<span class="glyphicon glyphicon-thumbs-down"></span> disike'), downvote_path(loco.id), method: :post %><br>

            <% if loco.coordinator_id == current_coordinator.id && !current_coordinator.admin?%>
            <button><%= link_to 'Edit Course', edit_course_path(loco) %></button>
            <% end %>

            <% if current_coordinator.admin?  %>
            <button><%=link_to 'Reset Votes', course_vote_path(loco), method: :delete, data: { confirm: 'Are you sure?' } %></button> |
            <button><%= link_to 'Edit Course', edit_course_path(loco) %></button> |
            <button><%= link_to 'Delete Course', loco, method: :delete, data: { confirm: 'Are you sure?' } %></button>
            <% end %>
            <% end %>


          </div><br>
          <% end %><br>

        </div><br>
      </div>
      <button ><%= link_to 'Return to Course List', courses_path %></button>
    </div>
