<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<footer class="footer">
  <div class="footer-bottom">
			<div class="container">
				<div class="row">
					<ul class="pull-left"> <p>Contact Us</p>
            <li><%= link_to 'Contact us for more details', "/contacts/new" %></li>
            <li>Tel: 012345678</li>
            <li>Fax: 098765432</li>
            <li>Email: stage.1@rmit.edu.au</li>
          </ul>
          <ul class="pull-left"> <p>General Inquiries</p>
            <li><a  href="#">Andy Song</a></li>
            <li><a  href="#">JunLang Jian</a></li>
            <li><a  href="#">Ali</a></li>
          </ul>
          <ul class="pull-left"> <p>Useful Links</p>
            <li><a  href="#">RMIT Course</a></li>
            <li><a  href="#">RMIT Help Desk</a></li>
            <li><a  href="#">RMIT International</a></li>
          </ul>
					<ul class="pull-left"> <p>Media</p>
            <li><a href="#" class="link"><span class="fa fa-youtube"></span>YouTube</a></li>
            <li><a href="#" class="link"><span class="fa fa-youtube"></span>Facebook</a></li>
            <li><a href="#" class="link"><i class="fa fa-instagram"></i>Instagram</a></li>
            <li><a href="#" class="link"><i class="fa fa-twitter"></i>Twitter</a></li>

            <!-- <li><a target="_blank" href="#">Twitter</a></li>
            <li><a target="_blank" href="#">Skype</a></li> -->
          </ul>
				</div>
			</div>
		</div>
</footer>
