


<div class="navbar">
  <% if logged_in? %>
    <%= link_to 'Home', courses_path %>
  <% else %>
    <%= link_to 'Home', "/main/home" %>
  <% end %>

  <div class="dropdown">

    <% if logged_in? %>
    <!-- <li><%= link_to "Coordinators", '#' %></li> -->
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>
        <%= current_coordinator.name %> <b class="caret"></b>
      </a>
      <div class="dropdown-content">
        <%= link_to "View Profile", current_coordinator %>
        <%= link_to "Edit Profile", edit_coordinator_path(current_coordinator) %>
        <%= link_to "Log out", logout_path, method: :delete %>
      </div>
    </li>
    <% else %>
  <%= link_to raw('<span class="glyphicon glyphicon-user"></span> Log in') , login_path %>
  <% end %>
</div>

<div class="dropdown">
  <button class="dropbtn"><span class="glyphicon glyphicon-map-marker"></span> Location
    <span class="caret"></span>
  </button>

  <div class="dropdown-content">

    <% Location.all.group(:id).each do |course| %>
      <%= link_to course.location, location_path(course.id) %>
    <% end %>
    <% if logged_in? %>
    <%= link_to "Create Location", new_location_path %>
    <% end %>
  </div>

</div>

<div class="dropdown">
  <button class="dropbtn"><span class="glyphicon glyphicon-screenshot"></span> Category
    <span class="caret"></span>
  </button>

  <div class="dropdown-content">
    <% Category.all.group(:id).each do |course| %>
    <%= link_to course.category, category_path(course.id) %>
    <% end %>
    <% if logged_in? %>
    <%= link_to "Create Category", new_category_path %>
    <% end %>
  </div>

</div>
</div>
